<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script th:src="@{/lib/editormd/editormd.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/me.css}"/>
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <title>博客发布</title>
    <link rel="icon" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a th:href="@{/admin/blogs}"  class="active m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a th:href="@{/view/index}" class="m-item item m-mobile-hide"><i class=" tags icon"></i>博客页面</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" th:src="@{/images/grtx.jpg}">
                    </div>
                    <div th:text="${session.user!=null ? session.user.getUsername():''}"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="logout" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class=" right menu">
            <a th:href="@{/admin/blogs-input}" class="teal active item">发布</a>
            <a th:href="@{/admin/blogs}" class=" item">列表</a>
        </div>
    </div>
</div>



<!--中间内容-->

    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <form id="blog-form" action="blogsInput" method="post" class="ui form">
                <input type="hidden" name="published">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui selection compact teal basic dropdown label">
                            <input name="flag" type="hidden" value="原创">
                            <i class="dropdown icon"> </i>
                            <div cLass="text">原创</div>
                            <div class="menu">
                                <div class="item" th:data-value="原创">原创</div>
                                <div class="item" th:data-value="转载">转载</div>
                            </div>
                        </div>
                        <input type="text" name="title" pLaceholder="标题">
                    </div>
                </div>

                <div class="field">
                    <div id="md-content" style="z-index:1 !important;">
                         <textarea pLaceholder="博客内容" name="content"></textarea>
                    </div>
                </div>


                <div class="two fields">
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">分类</Label>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div cLass="menu">
                                    <div th:each="type,typezt:${typeList}" th:text="${type.getName()}" class="item" th:data-value="${type.getId()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact teal basic label">标签</Label>
                            <div class="ui fluid multiple search selection dropdown">
                                <input type="hidden" name="tags">
                                <i class="dropdown icon"></i>
                                <div class="default text">标签</div>
                                <div cLass="menu">
                                    <div th:each="tag,tagzt:${tagList}" th:text="${tag.getName()}" class="item" th:data-value="${tag.getId()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div cLass="field">
                    <div class="ui left labeled input">
                        <labeL class="ui teal basic label">首图</Label>
                        <input type="text" name="firstPicture" pLaceholder="首图引用地址，为空则默认顺机首图引用">
                    </div>
                </div>

                <div class="required field">
                    <textarea name="introduction" placeholder="博客简介..." maxlength="200"></textarea>
                </div>


                <!--
                    四个复选框，传送到后端的时候，选中的时候没有问题，但是没有选中的时候，
                    false也传送过去了，但是没有并没有封装到blog对象里面，我不知道是为什么，
                    我在数据库里面把这四个字段默认值改成false了，暂时解决。

                    还可以使用下面这个方法解决，但是我已经设置数据库了，就不用下面的方法了,估计我这个ui的问题
                    <input name="public" type="hidden" value="0">
                    <input name="public" type="checkbox" value="1" id="public">

                    class="hidden"和 <input name="public" type="hidden" value="false">是等价的，
                    但是用false不行，我也不知道是为什么，用0就可以解决。
                -->
                <div class="inline fields">
                    <div cLass="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" checked name="recommend" class="hidden">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>

                    <div cLass="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="shareInfo" checked name="shareStatement" class="hidden">
                            <label for="shareInfo">装载声明</label>
                        </div>
                    </div>

                    <div cLass="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="appreciation" checked name="appreciation" class="hidden">
                            <label for="appreciation">赞赏</label>
                        </div>
                    </div>

                    <div cLass="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="comment" checked name="commentabled" class="hidden">
                            <label for="comment">评论</label>
                        </div>
                    </div>
                </div>

                <div class="ui error message"></div>

                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button type="button" id="save-btn" class="ui secondary button">保存</button>
                    <button type="button" id="publish-btn" class="ui teal button">发布</button>
                </div>

            </form>
        </div>
    </div>

<p class="m-text-thin m-text-spaced m-opacity-tiny" style="text-align: center;">
    <a href="http://icp.chinaz.com/info?q=whitebear.top" target="_blank">粤ICP备2021084589号-1</a>
</p>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    })

    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    })

    $('.ui.dropdown').dropdown();

    $('.ui.form').form({
        fields : {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题: 请输入博客标题'
                }]
            },
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入内容'
                }]
            },
            typeId: {
                identifier: 'typeId',
                rules: [{
                    type: 'empty',
                    prompt: '请选择分类'
                }]
            },
            tags: {
                identifier: 'tags',
                rules: [{
                    type: 'empty',
                    prompt: '请选择标签'
                }]
            },
            introduction: {
                identifier: 'introduction',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客简介'
                }]
            }
        }
    });

    $('.message .close')
        .on('click',function (){
            $(this)
                .closest('.message')
                .transition('fade');
        })

    var contentEditor;

    $(function() {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/editormd/lib/"
        });
    })

</script>
</body>
</html>

