<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/me.css}"/>
    <link rel="icon" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a th:href="@{/admin/blogs}" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a th:href="@{/view/index}" class="m-item item m-mobile-hide"><i class=" tags icon"></i>博客页面</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" th:src="@{/images/grtx.jpg}">
                    </div>
                    <div th:text="${session.user!=null ? session.user.getUsername():''}"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <img th:src="${session.user.getAvatar()}" width="1000px" height="500px" class="rounded rounded bordered fluid image">
        <div class="ui success large message">
            <h2>hi,</h2>
            <p th:text="${session.user.getUsername()} + '，欢迎登录'"></p>
        </div>


    </div>
</div>

    <p class="m-text-thin m-text-spaced m-opacity-tiny" style="text-align: center;">
        <a href="http://icp.chinaz.com/info?q=whitebear.top" target="_blank">粤ICP备2021084589号-1</a>
    </p>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
    $('.ui.dropdown').dropdown();


</script>
</body>
</html>

